@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column; 
  font-family: "outfit", sans-serif;
}

.content {
  border: 2px solid white;
  border-radius: 10px; 
  background-color: hsl(0, 0%, 100%); 
  padding: 2px 12px 30px;
  margin: auto; 
  margin-top: 150px;
}

h1 {
  text-align: center; 
  color:hsl(218, 44%, 22%); 
  font-size: 18px;
}

p {
  text-align: center; 
  color: hsl(220, 15%, 55%); 
  font-size: 15px;
}

img {
  border-radius: 2%; 
  margin-top: 10px;
}

.attribution { font-size: 11px; text-align: center; margin-top: 50px;}
.attribution a { color: hsl(228, 45%, 44%); }

